.env
.env.*.local
**/.env.local
**/.env.*.local
**/node_modules
**/.next
**/dist
**/build
backend/account-service/.env
backend/authentication-service/.env
backend/stock-screener/.env
frontend/.env
secrets.yml
proxy.conf
docker-compose.yml
traefik-dynamic/
.proxy-port-*
